/* Footer style and position, maintained trough the website */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
    border: 0px;
    border-style: solid;
  }
  
  h6 {
    color: rgb(187, 187, 179);
    text-align: center;
    line-height: 50px;
    font: 100;
    font-size: x-small;
    letter-spacing: -0.08em;
  }